:root {
  --primary-bg: #dab783;
  --border-color: #000000;
  --xp-bar-bg: #ffd500;
  --stats-bg: #4a4aaf;
  --stats-text: white;
  --highlight: #ffcc00;
  --banner-bg: #4a4aaf7c;
}

@keyframes bubbleFloat {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Love", sans-serif;
}

body,
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg);
}

.game-container {
  position: relative;
  border: 2px solid var(--border-color);
  background-image: url("./images/fondGame.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.player {
  position: absolute;
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  pointer-events: none;
}

.controls {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}

.xp-bar-container {
  width: 800px;
  height: 15px;
  background-color: #ccc;
  border: 2px solid var(--border-color);
  margin: 10px auto;
  margin-top: 20px;
  position: relative;
}

.xp-bar {
  height: 100%;
  width: 0%;
  background-color: var(--xp-bar-bg);
  transition: width 0.5s ease-in-out;
}
.xp-text{
  position: absolute;
  top: -150%;
  right: 10px; /* Distance du bord droit */
  transform: translateY(-50%);
  color: #282621;
  font-weight: bold;
  font-size: 25px;
}
.stat-icon{
  height: 80px;
}
.stat-banner {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--banner-bg);
  color: var(--stats-text);
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease-in-out;
}

.stats {
  border: 2px solid  var(--border-color); /* Bordure noire */
  background-image: url("images/texture.jpg");
  background-size: contain;
  background-position: center;
  
  font-size: x-large;
  text-align: center;
 

  /* Bordure intérieure blanche diffuse */
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);

  margin-top: 50px;
  color: var(--stats-text);
  padding: 20px;
  height: 600px;
  border-radius: 15px;
  text-align: center;
}

.stats p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  justify-content: space-between;
}

.stats span {
  font-weight: bold;
  color: var(--highlight);
}

.btn-action {
  transition: transform 0.2s ease, opacity 0.2s ease;
  border: none;
  cursor: pointer;
  height: 60px;
  width: 60px;
  background-image: url("images/tuilesIcones.png");
  background-size: 300px 300px;
}

.action-container {
  position: fixed;
  display: flex;
  top: 10px;
  left: 20px;
  height: 80px;
}
.actionMenu {
  background-position: 60px 120px;
}
.actionPause {
  background-position: -300px 0px;
}
.btn-action:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.parent {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-template-rows: auto 1fr auto;
  width: 100vw;
  gap: 10px;
  padding: 10px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 6;
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.div2 {
  grid-area: 2 / 1 / 9 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 4;
  grid-row: 2;
}

.div3 {
  grid-area: 9 / 1 / 11 / 2;
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-content: center;
}

.game-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  width: 100%;
}

.leader {
  margin-top: 50px;
  grid-column: 1;
  color: var(--stats-text);
  height: 600px;
}
.title-image {
  background-image: url("./images/outliveTitle.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 250px;
}
.leaderboard {
  border: 2px solid black; /* Bordure noire */
  background-image: url("images/texture.jpg");
  background-size: contain;
  background-position: center;
  height: 350px;
  font-size: x-large;
  color: var(--highlight);
  text-align: center;
  border-radius: 15px;
  padding-top: 30px;

  /* Bordure intérieure blanche diffuse */
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
}

.game {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upButton {
  grid-column: 2;
  grid-row: 1;

  background-position: 180px 180px;
}

#leftButton {
  grid-column: 1;
  grid-row: 2;

  background-position: 0px 180px;
}

#downButton {
  grid-column: 2;
  grid-row: 2;
  background-position: 120px 180px;
}

#rightButton {
  grid-column: 3;
  grid-row: 2;
  background-position: -60px 180px;
}

.arrow-button {
  width: 60px; /* Taille d'origine */
  height: 60px;
  background-image: url("images/tuilesIcones.png");
  background-size: 300px 300px;

  cursor: pointer;
  animation: bubbleFloat 3s infinite ease-in-out;
}



.github-banner {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #24292e;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.github-banner:hover {
  background-color: #0366d6;
}

.github-icon {
  width: 20px;
  height: 20px;
}